@font-face{font-family:'Archivo';font-weight:100 900;font-stretch:62% 125%;src:url(fonts/Archivo-100_900.woff2) format('woff2');font-display:block}
@font-face{font-family:'Inter';font-weight:400 900;src:url(fonts/Inter-400_900.woff2) format('woff2');font-display:block}
@font-face{font-family:'Gochi Hand';font-weight:400;src:url(fonts/GochiHand-400.woff2) format('woff2');font-display:block}
@font-face{font-family:'Kalam';font-weight:400;src:url(fonts/Kalam-400.woff2) format('woff2');font-display:block}
@font-face{font-family:'Kalam';font-weight:700;src:url(fonts/Kalam-700.woff2) format('woff2');font-display:block}
